:root {
    --main-radius: 5px;
    --color-tasks: #323244;
    --main-font-color: #afafaf;
}
*{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;

}
body{
    margin: 0 auto;
    background-image: url('assets/images/bg-desktop-dark.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #1a1a2f;
    height: 100vh;
}

.listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}